<div id="menu">
    <input type="checkbox" id="btn-menu">

    <label for="btn-menu"><i id="menu-dropdown" class="fas fa-bars"></i></label>
    <nav class="main-nav">
        <ul>
            <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/pngocean.com-id-zetbz.png"></a>
            <li><a href="{{site.baseurl}}/" class="">Home</a></li>
            <li><a href="#">Menu Page</a></li>
            <li><a href="{{site.baseurl}}/reservation">Reservation</a></li>
            <li><a href="{{site.baseurl}}/location">Location & Contact</a></li>
            <li><a href="{{site.baseurl}}/gallery">Gallery</a></li>
            <li><a href="#">About</a></li>

        </ul>
    </nav>
</div>